<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aling Nena's</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
	<div class="banner">
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
			      <a class="navbar-brand" href="#"><h6>Aling Nena's</h6></a>
			    </div><!--navbar-header-->
			    <div class="collapse navbar-collapse">
		          <ul class="nav navbar-nav">
		            <li><a href="/">Home</a></li>
		            <li class="active"><a href="/about">About</a></li>
		            <li><a href="/products">Products</a></li>
		          </ul>
		        </div><!--/.nav-collapse -->
			</div><!--container-->
		</div><!--navbar-->
		<div class="label">
			<img src="/images/label.png" id="label"/>
		</div><!--label-->
	</div><!--banner-->
	
	
<div class="content">
	<div class="col-md-12">
	    <div class="row">
		<div class="col-sm-1"></div>
	    <div class="col-sm-5">
	    <div class="left-col">
			<h1>About</h1>
			<p>Aling Nena's belongs to a chain of sari-sari stores together with Aling Nene's, Aling Neni's, Aling Neno's and Aling Nenu's. They are owned by a very wealthy and equally sketchy clan.</p>
			<p>The stores' origin remains a mystery. All that is know is that these stores have been passed down fover generations of daughters all named after their mothers, named after their mothers, named after their mothers - you get the point -  since no one knows when.</p>
			<p>Another known fact, or rather, another know mystery is the stores' location that changes constantly. One moment you see a fully built store made of bricks like it has been on that spot all along and the next you see nothing. No one has ever been able to predict where the stores would appear next. Some avid customers are able to follow the stores around through the network and forums they have created to gather information.</p>
			<p>Despite theseemingly normal facade of the stores, these stores are not like any of the sari-sari stores you see in every corner. What makes them special is that you could buy anything from them, ANYTHING, you name it, from ice water to the rarest, weirdest item you can think of.</p>
			<p>Aling Nena's, in particular, appears to be the most in popular of the five - probably because of the very pretty and kind daughter, also called Nena, of the current owner. Due to the very high increase in demand ever since the daughter started helping with the store, they have decided to create an online store to better cater their customers.</p>
			<p>As of today, the business is still booming but it has been experiencing a very small, almost unnoticeable decline which can probably be attributed to the daughter suddenly leaving for Canada for unknown reasons (rumor has it that she is secretly an international spy or agent and that she went to Canada to chase a lead for a highly wanted black hat hacker, Oliver Tan, who goes by the code name: Panda).</p>
			

	    <!--Sidebar content-->
		</div>
		</div>
		<div class="col-sm-1"></div>
	    <div class="col-sm-4">
	    <div class="right-col">
		<img src="/images/window.png" id="window"/>
	    <!--Body content-->
	    </div>
		</div>
		<div class="col-sm-1"></div>
	    </div>
    </div>
</div><!--content-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

  </body>
</html>
